Lab2/Task1/tools/__pycache__/
Lab2/Task1/venv/
Lab2/Task1/__pycache__/
Lab2/.idea/
Lab2/Task2/.gitignore
Lab2/Task2/.idea/
Lab2/Task2/constants/__pycache__/
Lab2/Task2/data/
Lab2/Task2/entities/__pycache__/
Lab2/Task2/venv/
Lab2/Task2/__pycache__/
.idea

