{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ product.name }}</h1>

  <p><strong>Vendor code: {{ product.vendor_code }}</strong></p>


  <div style="margin-left:20px;margin-top:20px">
    <h4>All Products</h4>

    {% for copy in product.productinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% else %}text-danger{% endif %}">{{ copy.get_status_display }}</p>
    <p><strong>In stock: </strong> {{copy.quantity}}</p>
    <p><strong>Price: </strong> {{copy.price}}</p>
    <p><strong>Manufacturer: </strong> {{copy.manufacturer.name}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock %}
