{% extends "base_generic.html" %}

{% block content %}

  <a href="{% url 'products' %}" style="margin-left: 30px;"><--Back</a>


  <h1 style="font-size: 50px; margin-left: 30px; margin-top: 10px;">{{ product.name }}</h1>

  <p style="font-size: 18px; margin-left: 35px;"><strong>Vendor code: {{ product.vendor_code }}</strong></p>


  <div style="margin-left:50px;margin-top:20px">
    <h4>All Products</h4>

    {% for copy in product.productinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% else %}text-danger{% endif %}">{{ copy.get_status_display }}</p>
    <p><strong>In stock: </strong> {{copy.quantity}}</p>
    <p><strong>Price: </strong> {{copy.price}}</p>
    <p><strong>Manufacturer: </strong> {{copy.manufacturer.name}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock %}
